/* Contact Form */
#contact {
    padding: 50px 80px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;  /* Allow wrapping on smaller screens */
}

.contact-link {
    display: inline-flex;        /* Enables flexbox for the link */
    align-items: center;         /* Vertically aligns the icon and text */
    text-decoration: none;       /* Removes the underline from the link */
    color: #fff;                 /* Sets text color */
    font-size: 16px;             /* Adjust font size as needed */
    gap: 5px; 
    margin-bottom: 15px; 
}

.contact-left {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
}

.contact-right {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
}

.contact-left a img, .contact-left p img {
    height: 30px;
    margin-right: 10px;
}

.social-icons {
    margin-top: 25px;
}

.social-icons a {
    color: #ababab;
}

.social-icons img {
    height: 25px;
    margin-right: 8px;  /* Add spacing between icons */
}

/* Form styling */
.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    margin: 15px 0px;
    font-size: 15px;
    border-radius: 6px;
    background: #262626;
    padding: 15px;
    color: #fff;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;   /* Stack contact left and right sections */
    }

    .contact-left, .contact-right {
        flex-basis: 100%;  /* Take up full width on smaller screens */
    }

    .contact-link {
        font-size: 14px;   /* Smaller font size on mobile */
    }

    .social-icons a {
        margin-right: 10px;   /* Slightly more space for social icons on mobile */
    }

    .social-icons img {
        height: 20px;         /* Smaller icons on mobile */
    }
}

@media screen and (max-width: 480px) {
    .contact-container {
        padding: 20px;   /* Add padding for smaller screens */
    }

    .contact-link {
        font-size: 13px;  /* Even smaller font for very small screens */
    }
    .social-icons {
        display: inline-block;
        justify-content: center; /* Keep icons centered */
    }

    .social-icons a {
        margin-right: 8px; /* Maintain spacing between icons */
    }
    .social-icons img{
        height: 0;
    }
}
